<%- include('./partials/head') %>


<head>
    <body>
        <%- include('./partials/nav') %>

        <h1 style="text-align: center; color: orangered;">404!</h1>
        <h1 style="text-align: center; color: #177E89;">Page Not Found</h1>
        <a href="/"
        style="background-color: rgb(255, 122, 122); border-radius: 6px; border: none; padding: 10px; cursor: pointer; text-decoration: none; color: white; margin-left: 590px; margin-top: 30px;">
        Go Back</a>
    </body>
</head>