<%- include('../partials/head') %>

</head>
<body>
    <h1>Your Home Added Sucessfully</h1>
    <a style="text-decoration: none; background-color: orangered; border: none; text-align: center; padding: 10px; border-radius: 6px; font-size: 1.1rem; font-weight: 600; color:white" href="/">Go To Home</a>
</body>
</html>