form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: 10px;
}

input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid orange;
}

.btn{
    padding: 10px;
    background-color: rgb(255, 102, 102);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}