<%- include('../partials/head') %>

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/errors.css">
<head>
    <body>
        <%- include('../partials/nav') %>
        <h1 style="text-align: center;">Login Page</h1>
        
        <form action="/login" method="post" class="login-parent">
            
            <%- include('../partials/errors') %>

            <input type="email" name="email" placeholder="Enter Username/Email">
            <input type="password" name="password" placeholder="Enter Password">

            <input type="submit" >
        </form>
    </body>
</head>