<%- include('../partials/head') %>

    <style>
        .box{
            height: 20rem;
            width: 29rem;
            /* background-color: rgb(255, 218, 173); */
            border-radius: 10px;
            flex-direction: column;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(167, 16, 16);
            margin: 1rem auto;
        }
    </style>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="box">
        <h1 style="color: rgb(251, 125, 0);">Welcome To Booking Page</h1>
        <h1>My Booking List</h1>
    </div>
</body>
</html>