<%- include('../partials/head') %>


</head>
<body>
    <%- include('../partials/nav') %>
    <h1 class="text-2xl text-center font-bold text-violet-500 m-2 ">Get Bookings</h1>
    <h1 class="text-2xl text-center font-bold text-blue-500 m-2 ">All Bookings Show Here.</h1>
</body>
</html>